.error404__wrapper {
    margin-top: 110px;
}

.error404__title h1{
    font-weight: 600;
    font-size: 96px;
    line-height: 1.3;
}

.error404__text p{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
}